body {
    margin: 0;
}
*{
    font-family: 'Cairo';
    box-sizing: border-box}
    .mySlides1, .mySlides2 {display: none}
    img {vertical-align: middle;
}

.sider {
    width: 300px;
    height: 1080px;
    background-color: #011013;
    position: fixed !important;
    z-index: 1;
    overflow: auto;
    right: 0px;
    text-align: center;
    color: white;
    top: 0px;
}

.sider .aside {
    margin-top: 91px;
}

.aling {
    margin-top: 70px;
}

.aling .item {
    display: block;
    padding: 8px 16px;
    text-align: left;
    border: none;
    white-space: normal;
    float: none;
    outline: 0;
    text-decoration: none;
    color: white;
    text-align: center;
}
.aling div i {
    font-size: 30px;
    color: #414040;
    padding: 0 5px;
}

.teal {
    color: white;
    background-color: #011013;
    height: 172px;
    position: absolute;
    right: 0px;
    left: 0px;
    width: 90vw;
    text-align: center;
    z-index: 1;
}








/* ///////////////////////////////////////////// */
    #image {
        width: 90vw;
        padding: 168px 131px 0px 0;
        margin-left: -20px;
    }
    .container {
        margin: auto;
        color: white;
        position: relative;
        top: 177px;
        right: 23%;
    }
    .container h6 {
        font-size: 3vw;
        text-align: center;
    }
    .container p {
        font-size: 1.4vw;
        text-align: center;
    }
    .button {
        width: 34vw;
        height: 70px;
        border: 2px solid white;
        border-radius: 10px;
        background-color: #414040;
       margin-right: 18vw;
       font-size: 1.9vw;
       color: white;
       margin-top: 20px;
    }
    #icon {
        display: flex;
        margin: auto;
        padding-top: 70px;
    }
    
.appTwo{
    position: absolute;
    top: -776px ;
    left: auto;
    right: 18%;
    color: white;
    direction: rtl;
    background-color: #010D12;
    padding: 40px;
    height: 766px;
}
.buttonTwo{
    border: none;
    background-color: #f67a28;
    height: 8vh;
    padding:6px 10px 10px;
    border: 1px solid white;
    color: white;
    margin-top: 20px;
    font-size: 1.5vw;
}
    #imageTwo {
        width: 83vw;
        height: 880px;
        margin-left: -32px;
    }
    .containerTwo{
        margin: auto;
        color: white;
        position: absolute;
        background-color: #000;
        right: 20%;
        width: 58%;
        height: 862px;
        padding: 40px 60px;
        margin-top: 6px;
    }
    .containerTwo h6 {
        font-size: 3.5vw;
        
    }
    .containerTwo p {
        font-size: 1.4vw;
    }
    .appThree {
        padding: 0 245px 0 0px;
        
    }
    .boxOne , .boxTwo , .boxThree {
        height:450px ;
        width: 300px;
        border: 1px solid black;
        padding: 30px 50px;
        margin:0 20px 40px !important;
    }
    .boxOne {
        background-image: linear-gradient(134deg,#FFD5A1 , #986F3A);
    }
    .boxTwo{
        background-image: linear-gradient(180deg,#FFBD6E , #985708);
    }
    .boxThree {
        background-image: linear-gradient(222deg,#CA9C66 , #633600);
    }
    .one {
        width: 130px;
        height: 127px !important;
        border-radius: 50%;
        color: #ffBA62;
        font-weight: 700;
        font-size: 4vw;
        text-align: center;
        border: 2px solid rgb(100, 99, 99);
        padding: 20px;
        margin: 0 2vw;
        background-color: white;
    }
    .textOne , .textTwo , .textThree {
        text-align: center;
        font-weight: 900;
    }
    .textOne {
        margin-top: 50px;
        color: #010D12;
        font-size: 27px;
    }
    .textTwo  {
        color: white;
        margin-top: 80px;
        font-size: 26px;
    }
    .textThree{
        font-size: 22px;
        margin-top: 10px;
    }
    .headen {
        font-size: 3vw;
        margin: 20px 0 30px;
        text-align: center;
    }
    
    
    
    .headenTwo {
        font-size: 3.5vw;
        color: white;
        direction: rtl;
    }
    .textFour{
        font-size: 1.7vw;
        color: white;
        direction: rtl;
    }
    .appFour {
        margin-right: 295px !important;
        margin-top: 80px!important;
        background-color:#010D12;
        direction: rtl;
    }
    #imageThree{
        width: 26.3vw;
        height: 583px;
    }
    .buttonThree{
        border: none;
        background-color: white;
        padding:10px 20px;
        border-radius: 0;
        float: right;
        font-size: 26px;
        font-weight: 400;
        color: #010D12;
        margin-bottom: 10px;
    }
    .icon2 {
        float: right;
        padding: 7px;
        width: 59px;
        height: 59px;
        border-radius: 50%;
        margin-right: 17px;
        background-color: white;
    }
    
    
    /* Slideshow container */
    .slideshow-container {
       position: relative;
      display: flex;
      justify-content: center;
      text-align: center;
    }
    
    /* Next & previous buttons */
    .prev, .next {
      cursor: pointer;
      position: absolute;
      top: 50%;
      width: auto;
      padding: 16px;
      margin-top: -22px;
      color: white;
      font-weight: bold;
      font-size: 18px;
      transition: 0.6s ease;
      border-radius: 0 3px 3px 0;
      user-select: none;
    }
    
    /* Position the "next button" to the right */
    .next {
      right: 0px;
      border-radius: 3px 0 0 3px;
    }
    .prev {
        left: 0px;
    }
    .appFive {
        background-image: linear-gradient(145deg ,#EB8C25,#542E00);
        color: white;
        padding: 30px 30px;
        margin-top: 60px;
        direction: rtl;
        margin-left: 0px;
        margin-right: 0px;
    }
    .buttonFive {
        border: 2px solid #FEFD6C;
        background-color: #EB8C25;
        color: white;
        height: 80px;
        width: 18vw;
        font-size: 2.7vw;
        margin-top: 15px;
        
    }
    .footer {
        font-size: 1.7vw !important;
    }
@media (max-width: 1364px) {
    .teal{
        width: 100vw;
    }
    .sider{
        display: none;
    }
    #image {
        width: 100.6vw;
        padding-right: 0;
    }
    .container {
        top: 115px;
        right: 12%;
    }
    .container h6 {
        font-size: 3.5vw;
    }
    .container p {
        font-size: 1.9vw;
    }
    .button {
        width: 46vw;
        margin-right: 11vw;
        font-size: 2.5vw;
    }
    #icon {
        padding-top: 18px;
    }
    #imageTwo {
        width: 100vw;
        height: 1490px;
        margin-right: -238px;
    }
    .containerTwo {
        right: 0%;
        width: 88%;
        margin-top: 10px;
        height: 1461px;
    }
    .containerTwo h6{
        font-size: 4.3vw;
        text-align: start;
    }
    .containerTwo p {
        font-size: 2.9vw;
        
    }
    .buttonTwo{
        font-size: 3.5vw;
        height: 10vh ;
    }
    .appThree {
        padding-right: 0px;
    }
    .boxOne, .boxTwo, .boxThree {
        height: 450px;
        margin: 0 20px 40px !important;
    }
    .one {
        width: 116px;
        height: 118px !important;
        font-size: 48px;
        margin: 0 42px;
    }
    #imageThree {
        width: 33.3vw;
    }
   
    .textThree {
        font-size: 22px;
    }
    .headen {
        font-size: 10vw;
    }
    .rom {
        display: flex;
        justify-content: center;
        margin: auto;
    }
    .appFour {
       margin-right: 0 !important;
    }
    .textFour {
        font-size: 2.3vw;
    }
    .containerThree h1{
        font-size: 4vw !important;
    }
    .containerThree p{
        font-size: 2.3vw !important;
    }
    .footer {
        font-size: 3vw;
    }
}
@media (max-width : 1000px) {
    .containerTwo {
        height: 1171px;
    }
    #imageTwo {
        height: 1200px;
    }
}
@media (max-width : 767px) {
    #image {
        width: 101vw;
        padding: 168px 0px 0px 0;
    }
    .container{
        right: 0%;
        background-color: #000;
        padding: 40px 24px;
        top: 0;
    }
    .container h6 {
        font-size: 4.3vw;
        text-align: start;
        padding: 0 16px;
    }
    .container p {
        font-size: 3.7vw;
        padding: 0 15px;
    }
    .button {
        margin-right: 22vw;
        font-size: 2.9vw;
        width: 50vw;
        height: 63px;
    }
    #imageTwo {
        width: 102.7vw;
        height: 600px;
    }
    .containerTwo {
        position: relative;
        top: -22px;
        right: 1.8%;
        background-color: #000;
        padding: 29px;
        width: 100%;
        height: 862px;
    }
    .containerTwo h6{
        font-size: 4.3vw;
        text-align: start;
    }
    .containerTwo p {
        font-size: 2.9vw;
    }
    .buttonTwo {
        height: 8vh;
        font-size: 4.5vw;
    }
    #imageThree {
        height: 376px;
        width: 100%;
    }
    .textFour {
        font-size: 3.7vw;
    }
    .headenTwo {
        font-size: 6.5vw;
    }
    .first{
        width: 25% !important;
    }
}
@media (max-width : 576px) {
    #image {
        width: 101.6vw;
        padding: 168px 0px 0px 0;
    }
    .container h6{
        padding: 0;
        font-size: 4vw;
    }
    .container p {
        font-size: 4.7vw;
        padding: 0 0;
    }
    .button {
        margin-right: 9vw;
        font-size: 4vw;
        width: 69vw;
        height: 54px;
    }
    #imageTwo {
        width: 105.7vw;
        height: 300px;
    }
    .containerTwo{
        position: relative;
        right: 0;
        top: -14px;
        
    }
    .containerTwo h6{
        font-size: 4vw;
        text-align: start;
    }
    .containerTwo p {
        font-size: 4.7vw;
    }

    .containerTwo {
        height: 1100px;
    }
    .buttonTwo{
        height: 10vh;
    }
    .first {
        width: 24% !important;
        height : 170px !important;
    }
    .prev, .next {
        top: 30%;
    }
    .buttonFive{
        width: 48vw;
        font-size: 6.7vw;
        margin-top: 15px;
        display: flex;
        margin: auto;
        justify-content: center;
        padding-top: 10px;
        height: 71px;
    }
    .containerThree h1{
        font-size: 4.9vw !important;
        text-align: center;
    }
    .containerThree p{
        font-size: 2.6vw !important;
        text-align: center;
    }
    .footer {
        font-size: 3vw ;
    }
}










